# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
env/

# Dataset
modelo-python/dataset/*.csv

# Modelos entrenados
modelo-python/models/*.pkl
modelo-python/models/*.joblib
modelo-python/models/*.bin

# Dataset (puede ser grande)
modelo-python/dataset/*.csv

# Docker
.docker/

# Logs
*.log

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo
